go 1.21.4

use (
	./week-1/day-1/excercise
	./week-1/day-1/preview
	./week-1/day-1/ungraded-2
	./week-1/day-2/ungraded-3
	./week-1/day-3/cron-demo
	./week-2/day-1/preview
	./week-2/day-1/test_proto
	./week-2/day-2/grpc_excercise
	./week-2/day-2/ungraded-5
	./week-2/day-3/rabbitmq-excercise/consume
	./week-2/day-3/rabbitmq-excercise/publish
	./week-2/day-3/redis-excercise
)
